#infos {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #8aeb7a;
  border-bottom: gold 3px solid;
  gap: 5%;
  flex: 1 1 0px;
  z-index: 1;
}

#infos div {
  flex-basis: 100%;
}

#values-container {
  display: flex;
  justify-content: center;
  background-color: #6db960;
}

#saves-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
#existing-saves {
  width: 30%;
}
#current-save{
  color: #2b1de8;
}
