@import url(variable.css);
@import url(gold-panel.css);
@import url(minion-panel.css);
@import url(computer-panel.css);
@import url(rgb-anim.css);
@import url(matrix-anim.css);
* {
  box-sizing: border-box;
}

h4 {
  margin-right: 10px;
}


html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Noto Sans";
}

body {
  margin: 0px;
  height: 100vh;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}

button {
  font-family: "Shippori Antique";
  padding: 15px;
  height: fit-content;
  width: fit-content;
}

span {
  font-weight: bold;
}

#game-content {
  padding: 5px;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.game-item {
  height: 100%;
  width: 50%;
}
.data-list{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3px;
}
.data-item{
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  background-color: #d8d8d8;
}
.data-info{
  flex-grow: 2;

  display: flex;
  justify-content: space-between;
  background-color: #bab8b8;
}
.data-info-buy{

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  background-color: #979797;
}
