@import url(variable.css);
@import url(gold-panel.css);
@import url(minion-panel.css);
html,body{
  margin: 0;
  height: 100%;
  font-family: "Noto Sans";
}
main{
  width: 100%;
  height: 100%;
}


span {
  font-weight: bold;
}

#game-content {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
}

.game-item {
  width: 50%;
}
